*{
    background-color: #FCF8E8;

}
h1{
   background-color: #94B49F;
}
h3{
 background-color: #CEE5D0;
}
*{
    font-family: 'Satisfy', cursive;
}
#yes{
    background-color: #ECB390;
}
#btn{
    color: lightblue;
}